<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <!-- ROAN AWAY LOGO FOR SMALL SCREENS -->
    <a class="navbar-brand mx-auto d-block d-lg-none" href="dashboard.html">
      <img src="assets\img\RoanAwayNewLogoPNG.png" alt="Roan Away Logo" height="70">
    </a>
    <!-- DISPLAY BUTTON FOR SMALL SCREENS -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- MENU DISPLAY FOR LARGE SCREENS -->
    <div class="collapse navbar-collapse w-100" id="navbarNav">
      <div class="d-flex w-100 align-items-center">

        <!-- IZQUIERDA -->
        <div class="d-flex flex-grow-1 ms-3">
          <ul class="navbar-nav mb-2 mb-lg-0 nav-underline">
            <li class="nav-item">
              <button class="btn btn-like" routerLink="/swipe">Itinerarios</button>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/select-trip">
                <i class="bi bi-airplane-fill me-2"></i>Mis viajes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/favorites">
                <i class="fa-solid fa-heart me-2"></i>Favoritos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/tips-tricks">
                <i class="fa-solid fa-lightbulb me-2"></i>Tips & Tricks
              </a>
            </li>
          </ul>
        </div>


        <!-- CENTRO: LOGO -->
        <div class="navbar-center-logo" style="min-width: 100px;">
          <a class="navbar-brand d-none d-lg-block" href="dashboard.html">
            <img src="assets/img/RoanAwayNewLogoPNG.png" alt="Roan Away Logo" height="70">
          </a>
        </div>

        <!-- DERECHA: CONFIGURACION & EXIT -->
        <div class="d-flex justify-content-end flex-grow-1 mx-5">
          <a class="text-decoration-none config-item me-4" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <i class="fa-solid fa-gear fa-lg icon"></i>
          </a>
          <a href="logout.html" class="text-decoration-none config-item">
            <i class="fa-solid fa-right-from-bracket fa-lg icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>