<main class="container-fluid">
    <div class="row mx-5 my-3 p-4 p-md-5 bg-white rounded shadow-lg">

        <!-- Columna izquierda: Mapa -->
        <div class="col-md-5 mb-4 mb-md-0">
            <div id="map" style="width: 90%; height: 500px; background-color: #eee;">
                <!-- Aquí va el mapa de Google Maps o Leaflet -->
            </div>
        </div>

        <!-- Columna derecha: Info del itinerario -->
        <div class="col-md-7">
            <h2 class="h1 mb-3">Japón</h2>
            <h3 class="h4 mb-1">Kioto, Tokyo</h3>
            <hr>

            <div class="timeline-container d-flex align-items-center justify-content-between">
                <div class="timeline-step active"></div>
                <div class="timeline-line"></div>
                <div class="timeline-step"></div>
                <div class="timeline-line"></div>
                <div class="timeline-step"></div>
                <div class="timeline-line"></div>
                <div class="timeline-step"></div>
                <div class="timeline-line"></div>
                <div class="timeline-step"></div>
            </div>
            <div class="container my-5">
  <app-timeline [activitiesPerDay]="itinerario"></app-timeline>
</div>


        </div>

    </div>
</main>