<main class="container-fluid edit-page-container" *ngIf="itinerario">
    <div class="row mx-5 my-3 p-4 bg-white rounded shadow-lg">

        <div class="col-12">
            <h2 class="h1 mb-3">{{ itinerario.destino }}</h2>
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h4">{{ itinerario.ciudades }}</h3>
                <small class="text-muted">
                    ({{ itinerario.dias }} días • {{ itinerario.presupuesto }} • {{ itinerario.tipo }})
                </small>
            </div>
            <hr>
        </div>

        <!-- Fila 1: mapa full ancho -->
        <div class="col-12 mb-4" style="height: 500px;">
            <app-map [actividadesPorDia]="itinerario.actividades"
                [actividadesDelDia]="itinerario.actividades[selectedDay]">
            </app-map>
        </div>

        <!-- Fila 2: timeline + recomendaciones -->
        <div class="col-12 d-flex">
            <div style="flex: 0 0 50%; margin-right: 100px; margin-left: 40px;">
                <app-timeline [activitiesPerDay]="itinerario.actividades" [selectedDay]="selectedDay"
                    [modoEdicion]="true" (deleteActividad)="borrarActividad($event)"
                    (selectedDayChange)="selectedDay = $event">
                </app-timeline>
            </div>

            <div class="vertical-divider mx-4"></div>

            <div style="flex: 1;" class=" recomendaciones-container  mt-5">
                <div class="card shadow-sm recomendaciones-card">
                    <div class="card-header">
                        <h5 class="mb-0" style="font-family: var(--font-titles); font-weight: bold; padding: 6px;">RECOMENDACIONES</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let rec of recomendaciones"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong style="font-family: var(--font-text);">{{ rec.nombre }}</strong><br>
                                <small class="text-muted">Duración: {{ rec.duracion }}</small>
                            </div>
                            <button class="btn btn-add rounded-circle"
                                (click)="addRecomendacion(rec)" title="Añadir">
                                <i class="bi bi-plus"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>