<!-- Línea del timeline -->
<div class="timeline-container mb-2">
  <ng-container *ngFor="let day of activitiesPerDay; let i = index">
    <div class="timeline-step" [class.active]="selectedDay === i" (click)="selectDay(i)">
    </div>
    <div *ngIf="i < activitiesPerDay.length - 1" class="timeline-line"></div>
  </ng-container>
</div>

<!-- Actividades del día seleccionado -->
<div class="mt-4 day-container activity-card">
  <h5 class="day-title">Día {{ selectedDay + 1 }}</h5>
  <hr />
  <div class="d-flex flex-column flex-md-row gap-4 align-items-start">
    <!-- Lista de actividades -->
    <ul class="ps-3 flex-grow-1 activities-list">
  <li *ngFor="let actividad of actividadesDelDia; let i = index" class="mb-2 d-flex justify-content-between align-items-center" style="list-style: none;">
    <div>
      {{ actividad.nombre }}<br>
      <small class="text-muted">Duración: {{ actividad.duracion }}</small>
    </div>
<button *ngIf="modoEdicion" (click)="borrarActividad(selectedDay, i)" class="btn-trash">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather-trash-2">
    <polyline points="3 6 5 6 21 6"></polyline>
    <path d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"></path>
    <path d="M10 11v6"></path>
    <path d="M14 11v6"></path>
    <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"></path>
  </svg>
</button>

  </li>
</ul>

  </div>
</div>