<div class="timeline d-flex justify-content-between align-items-center my-4">
  <ng-container *ngFor="let day of activitiesPerDay; let i = index">
    <div class="d-flex flex-column align-items-center">
      <div
        class="circle"
        [class.active]="i === selectedDay"
        (click)="selectDay(i)">
      </div>
      <span>Día {{ i + 1 }}</span>
    </div>
    <div *ngIf="i < activitiesPerDay.length - 1" class="line"></div>
  </ng-container>
</div>

<div *ngIf="selectedDay !== null" class="activities mt-3">
  <h5>Actividades del Día {{ selectedDay + 1 }}:</h5>
  <ul>
    <li *ngFor="let act of activitiesPerDay[selectedDay!]">{{ act }}</li>
  </ul>
</div>
